{{ partial "header" . }}

<div class='entry'>
  <div class='container entry-content'>
    <span class='screen-reader-text'>
      {{- .Site.Params.info.title404 | default .Title -}}
    </span>
    <figure class='gopher'>
      <a href='{{ "/" | relLangURL }}'>
        <img src='{{ ( .Site.Params.assets.gopher | default "assets/gopher.png" ) | relURL }}' alt='{{ i18n "gopher" }}'/>
        <span class='screen-reader-text'>
          {{- i18n "goHome" -}}
        </span>
      </a>
      <figcaption>
        <h1 class='title'>
          <a href='{{ "/" | relLangURL }}'>
            {{- .Site.Params.info.title404 | default .Title -}}
          </a>
        </h1>
        <p class='desctiption'>
          {{- .Site.Params.info.description404 -}}
        </p>
      </figcaption>
    </figure>
  </div>
</div>

{{ partial "footer" . }}
